.palette {
  &__colors {
    display: flex;
  }

  &__color {
    position: relative;
    height: 300px;
    flex: 1;

    &--label {
      position: absolute;
      top: 50%;
      left: 50%;
      text-shadow: 0 0 15px white;
      transform: translate(-50%, -50%);
    }
  }

  &__info {
    margin: 10px 0;
    label {
      color: gray;
    }
    span {
      font-weight: bold;
      margin-left: 10px;
    }
  }
}
