.palette {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
  text-decoration: none;

  &__title {
    margin: 0;
    padding: 10px;
    color: gray;
  }

  &__colors {
    display: flex;
  }

  &__color {
    height: 100px;
    flex: 1;
  }
}
